body {
  overflow-x: hidden;

}
.App {
  height: 100vh;
}
.text-center {
  text-align: center;
}
.unstyled-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.unstyled-list li {
  display: inline-block;
  margin: 0 8px;
}
.top-traing {
  margin-right: -100px;
}
.rc-tooltip-inner {
  min-height: auto;
}
